@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nova Round", sans-serif;
    box-sizing: border-box;
}  
body{
    background-color: #feefdd;
    padding-top: 80px;
}
main{
    flex: 1;
}
/* CABEÇALHO */
header {
    display: flex;
    position: fixed;
    width: 100%;
    color: #feefdd;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    z-index: 10;
    top: 0; 
    left: 0;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color: #feefdd;
}
.logo-link img {
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}
header nav a{
    padding: 10px 20px 28.5px 20px;
    color: #feefdd;
}
header nav a:hover{
    color: #fc3e3a;
    border-bottom:2px solid #feefdd ;
}
.search {
    display: flex;
    align-items: center;
    background-color: #0e0d0d;
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 26px;
    width: 200px;
}
.search:hover{
    background-color: #3f3e3e;
}
.search input {
    border: none;
    background: transparent;
    color: #feefdd;
    outline: none;
    width: 100%; /* Ocupa o espaço restante dentro do DIV >:]*/
}
.header-right {
    display: flex;
    align-items: center;
    gap: 12px;
}  
header a{
    text-decoration: none;
}
.icon{
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    fill: #feefdd;
}
.icon:hover {
    fill: red;
}




/* STYLE DAS PROMOÇÕES COM ANIMAÇÃO E OS KRL*/ 
#mingallery {
    display: flex;
    justify-content: space-around;
}
body{
    font-family:"Poppins",sans-serif;
    background-image: src="https://th.bing.com/th/id/R.776302f417cdc76aeffde08f554db5f1?rik=V%2bMrAVJMqD1ocQ&pid=ImgRaw&r=0";
    background-position: center;
    height: 100vh;
    width: 50;

}
#mingallery a {text-decoration: none; }
#mingallery .item{
    display:flex;
    flex-direction:column;
    border:none;
    margin: 20px;   
}
#mingallery .item img{
    border-radius: 10%;
    border-color: #000000;
    border-style:hidden;
    background: aliceblue;
    transition:0.3s;
    width: 300px;
    height: 300px;
}
#mingallery .item img{
    transition: all 0.3s ease-in-out;
}
#mingallery .item img:hover{
    transform: scale(1.1);
}
#mingallery .item h2 {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
#mingallery .item button{
    background:aliceblue;
    color: #000000;
    transition: all 0.3s ease-in-out;
}
#mingallery .item button:hover{
    background: #7f21cb;
    color:aliceblue;
    transform: scale(1.1);
}

/*FOOTER etc*/ 

.footer-bottom{
    display: flex;
    flex-direction: column;
    min-height: 92vh;
}
footer {
    padding: 20px;
    width: 100%;
    background-color: #000;
    color: #feefdd;
    text-align: center;
    font-size: 14px;
}
.footer-info{
    background-color: #000
}
footer .social-media {
    margin-top: 10px;
    background-color: #000;
}

footer .social-media a {
    margin: 0 20px;
    color: #feefdd;
    text-decoration: underline;
    font-size: 16px;
}

footer .social-media a:hover {
    color: #fc3e3a;
}