/* Promoções / Galeria com animação */
body{
    display: flex;
    flex-direction: column;
}
#mingallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
#mingallery a {
    text-decoration: none;
}
#mingallery .item {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#mingallery .item img {
    width: 350px;
    height: 420px;
    border-radius: 10%;
    background: aliceblue;
    transition: transform 0.3s ease-in-out;
}
#mingallery .item img:hover {
    transform: scale(1.1);
}
#mingallery .item h2 {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
#mingallery .item button {
    background: black;
    color: #feefdd;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-top: 8px;
    padding: 8px;
    border: none;
    cursor: pointer;
}
#mingallery .item button:hover {
    background-color: #fc3e3a;
    color: white;
    transform: scale(1.1);
    border-radius: 10px;
}
.item a {
    text-decoration: none;
    color: #feefdd;
}
.item span{
    color: #fc3e3a;
}
main{
    padding-top: 25px;
}
h1 i{
    font-size:xx-large;
}