@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nova Round", sans-serif;
    color: #feefdd;
    box-sizing: border-box;
}
body{
    background-color: #feefdd;
    padding-top: 100px;
}

/* CABEÇALHO */
header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    z-index: 10;
    top: 0; 
    left: 0;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    color: #feefdd;
}
.logo-link img {
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    background-color: #111; /* ou qualquer cor de fundo */
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 16px;
    width: 200px;
}
.search input {
    border: none;
    background: transparent;
    color: #feefdd;
    outline: #fc3e3a;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
}  
header a{
    text-decoration: none;
}
.icon{
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}
.icon:hover {
    fill: red;
}

/* PÉ DO SITE (footer) */
footer {
    padding: 20px;
    width: 100%;
    background-color: #000;
    text-align: center;
    font-size: 14px;
}
.footer-info{
    background-color: #000
}
footer .social-media {
    margin-top: 10px;
    background-color: #000;
}

footer .social-media a {
    margin: 0 20px;
    text-decoration: underline;
    font-size: 14px;
}

footer .social-media a:hover {
    color: #fc3e3a;
}
